*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(255,234,210);
    padding: 20px;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 700px;
    font-family: 'Roboto', sans-serif;
}
.container h1 {
    color: #849d64;
}
.container ul {
    list-style: none;
    display: flex;
    flex-direction: inherit;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.container a {
    text-decoration: none;
    color: #849d64;
}
section .paragraph {
    margin-top: 23px;
}
.container a:active {
    text-decoration: underline;
}
main {
    background-color: rgb(132,140,110);
    padding: 40px;
}
section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1300px;
    font-family: 'Inter', sans-serif;
    color: rgb(97,74,18);
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    margin-bottom: 30px;
}
section .container {
    align-items: flex-start;
    justify-content: flex-start;
}
.text { 
    margin-left: -650px;
}
#sinopsis img {
    height: 500px;
}
.container h3 {
    padding: 13px 0;
    font-weight: 700;
}
.divisor-ruler {
    margin-bottom: 30px;
}
#author img {
    width: 320px;
    height: 350px;
}
#contact .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 0 0 90px;
}
#contact h2 {
    margin-bottom: -660px;
}
.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form input,
form textarea,
form button {
    display: block;
    width: 320px;
    padding: 8px;
    border: none;
    color: rgb(132,140,110);
    border-radius: 3px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
form textarea {
    resize: none;
    height: 180px;
}
form button {
    background-color: rgb(255,234,210);
    font-weight: 600;
    cursor: pointer;
}
form button:hover {
    background-color: rgb(134, 100, 10);
    color: rgb(255,234,210);
}
form button:active {
    text-decoration: underline;
}
input:focus, textarea:focus {
    outline-color: rgb(132,140,110);
}
footer {
    background-color: rgb(255,234,210);
    padding: 10px;
}
footer p {
    font-family: 'Inter', sans-serif;
    color: rgb(97,74,18);
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
    margin-left: 30px;
}